extends base
- load static from staticfiles
- load crispy_forms_tags
block title
  | Ohjelmakartan esikatselu
block content
  .nav.nav-tabs
    include core_admin_menu_items.pug

  .schedule
    .legend
      ul.categories
        for category in categories
          li(class='{{ category.style }}') {{ category.title }}
    for view in views
      .btn-group.pull-right
        form(method='POST').btn-group
          {% csrf_token %}
          input(type='hidden', name='view_id', value='{{ view.id }}')
          input(type='hidden', name='direction', value='up')
          if forloop.first
            button.btn.btn-link(type='submit',
                                name='action',
                                value='move-view',
                                title='Siirrä ylemmäksi',
                                disabled)
              i.fa.fa-angle-up
          else
            button.btn.btn-link(type='submit',
                                name='action',
                                value='move-view',
                                title='Siirrä ylemmäksi')
              i.fa.fa-angle-up
        form(method='POST').btn-group
          {% csrf_token %}
          input(type='hidden', name='view_id', value='{{ view.id }}')
          input(type='hidden', name='direction', value='down')
          if forloop.last
            button.btn.btn-link(type='submit',
                                name='action',
                                value='move-view',
                                title='Siirrä alemmaksi',
                                disabled)
              i.fa.fa-angle-down
          else
            button.btn.btn-link(type='submit',
                                name='action',
                                value='move-view',
                                title='Siirrä alemmaksi')
              i.fa.fa-angle-down
        button.btn.btn-link(type='button',
                            data-toggle='modal',
                            data-target='#view-{{ view.id }}-settings-modal')
          i.fa.fa-gear.kompassi-icon-space-right
          | Näkymän asetukset
        button.btn.btn-link(type='button',
                            data-toggle='modal',
                            data-target='#view-{{ view.id }}-add-room-modal')
          i.fa.fa-plus.kompassi-icon-space-right
          | Lisää sali näkymään
      h2 {{ view.name }}
      table.table.table-bordered
        thead
          tr
            th
            for view_room in view.view_rooms.all
              th
                .btn-group.pull-right
                  form(method='POST').btn-group
                    {% csrf_token %}
                    input(type='hidden', name='view_room_id', value='{{ view_room.id }}')
                    input(type='hidden', name='direction', value='left')
                    if forloop.first
                      button.btn.btn-xs.btn-link(type='submit',
                                                 name='action',
                                                 value='move-room',
                                                 title='Siirrä vasemmalle',
                                                 disabled)
                        .fa.fa-angle-left
                    else
                      button.btn.btn-xs.btn-link(type='submit',
                                                 name='action',
                                                 value='move-room',
                                                 title='Siirrä vasemmalle')
                        .fa.fa-angle-left
                  form(method='POST').btn-group
                    {% csrf_token %}
                    input(type='hidden', name='view_room_id', value='{{ view_room.id }}')
                    input(type='hidden', name='direction', value='right')
                    if forloop.last
                      button.btn.btn-xs.btn-link(type='submit',
                                                 name='action',
                                                 value='move-room',
                                                 title='Siirrä oikealle',
                                                 disabled)
                        .fa.fa-angle-right
                    else
                      button.btn.btn-xs.btn-link(type='submit',
                                                 name='action',
                                                 value='move-room',
                                                 title='Siirrä oikealle')
                        .fa.fa-angle-right
                  form(method='POST').btn-group
                    {% csrf_token %}
                    input(type='hidden', name='view_room_id', value='{{ view_room.id }}')
                    button.btn.btn-xs.btn-link(type='submit',
                                               name='action',
                                               value='remove-room',
                                               title='Poista sali näkymästä')
                      .fa.fa-minus-circle

                div {{ view_room.room.name }}
        tbody
          for start_time, incontinuity_css, programmes in view.programmes_by_start_time
            tr(class='{{ incontinuity_css }}')
              th: {{ start_time|date:"H:i" }}
              for programme, rowspan in programmes
                if programme
                  if programme.is_public or internal_programmes
                    td.programme(rowspan='{{ rowspan }}', class='{{ programme.css_classes }}')
                      a(href='#p{{ programme.pk }}')
                        span.title.kompassi-space-after {{ programme.title }}
                        for tag in programme.tags.all
                          span.label.kompassi-space-after(class='{{ tag.style }}') {{ tag.title }}
                  else
                    td.concealed.sisainen(rowspan='{{ rowspan }}')
                else
                  td.blank

      .modal.fade(tabindex="-1",
                  id="view-{{ view.id }}-settings-modal"
                  role="dialog",
                  aria-labelledby="view-{{ view.id }}-settings-modal-title")
        .modal-dialog(role="document")
          form.modal-content.form-horizontal(method='POST',
                                             action='{% url "programme_admin_schedule_update_view_view" event.slug view.id %}')
            //- Catch Enter
            button.sr-only(type='submit', name='action', value='update-view') Tallenna

            .modal-header
              h4(id="view-{{ view.id }}-settings-modal-title") Näkymän asetukset
            .modal-body
              {% crispy view.get_form %}
            .modal-footer.clearfix
              .btn-group
                button.btn.btn-default(type='button', data-dismiss='modal') Peruuta
                button.btn.btn-danger(type='submit', name='action', value='delete-view')
                  i.kompassi-icon-space-right.fa.fa-trash-o
                  | Poista
                button.btn.btn-success(type='submit', name='action', value='update-view')
                  i.kompassi-icon-space-right.fa.fa-check
                  | Tallenna

      .modal.fade(tabindex="-1",
                  id="view-{{ view.id }}-add-room-modal"
                  role="dialog",
                  aria-labelledby="view-{{ view.id }}-add-room-modal-title")
        .modal-dialog(role="document")
          form.modal-content.form-horizontal(method='POST',
                                             action='{% url "programme_admin_schedule_update_view_view" event.slug view.id %}')
            //- Catch Enter
            button.sr-only(type='submit', name='action', value='add-room') Lisää

            .modal-header
              h4(id="view-{{ view.id }}-add-room-modal-title") Lisää sali näkymään <strong>{{ view.name }}</strong>
            .modal-body
              {% crispy view.get_add_room_form %}
            .modal-footer.clearfix
              .btn-group
                button.btn.btn-default(type='button', data-dismiss='modal') Peruuta
                button.btn.btn-success(type='submit', name='action', value='add-room')
                  i.kompassi-icon-space-right.fa.fa-plus
                  | Lisää


  p: button.btn.btn-link(type='button', data-toggle='modal', data-target='#add-view-modal')
    i.fa.fa-plus.kompassi-icon-space-right
    | Lisää näkymä

  .modal.fade(tabindex="-1",
              id="add-view-modal"
              role="dialog",
              aria-labelledby="add-view-modal-title")
    .modal-dialog(role="document")
      form.modal-content.form-horizontal(method='POST')
        //- Catch Enter
        button.sr-only(type='submit', name='action', value='add-view') Tallenna

        .modal-header
          h4(id="add-view-modal-title") Lisää näkymä
        .modal-body
          {% crispy add_view_form %}
        .modal-footer.clearfix
          .btn-group
            button.btn.btn-default(type='button', data-dismiss='modal') Peruuta
            button.btn.btn-success(type='submit', name='action', value='add-view')
              i.kompassi-icon-space-right.fa.fa-check
              | Tallenna

.descriptions
  h2 Tarkemmat ohjelmatiedot
  include programme_list.pug


block extra_scripts
  script(src='{% static "schedule.js" %}')
