- load i18n
.panel.panel-default
  .panel-heading: strong {% trans "Contact information" %}
  .panel-body
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Surname" %}
        .col-md-10= request.user.person.surname
    .row
      .control-group
        label.control-label.col-md-2 {% trans "First name" %}
        .col-md-10= request.user.person.first_name
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Nick name" %}
        .col-md-10= request.user.person.nick
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Name as displayed" %}
        .col-md-10
          div= request.user.person.display_name
          .help-block {% trans "If your name is publicly displayed as the programme host, this is how your name will be published. You can change the name display style in your profile." %}
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Phone number" %}
        .col-md-10= request.user.person.phone
    .row
      .control-group
        label.control-label.col-md-2 {% trans "E-mail address" %}
        .col-md-10= request.user.person.email
  .panel-footer.clearfix
    .btn-group.pull-right
      a.btn.btn-default(target='_blank', href='{% url "core_profile_view" %}')
        i.fa.fa-edit.kompassi-icon-space-right
        | {% trans "Update profile..." %}

    .text-muted {% trans "Please check your contact information and update your profile if necessary. By accepting this invitation you agree to these contact details being shared with the programme manager of the event. If there are other hosts to your programme, they will see your surname, first name and nick name but not your e-mail address or phone number." %}
