- load i18n
.panel.panel-default
  .panel-heading: strong {% trans "Contact information" %}
  .panel-body
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Surname" %}
        .col-md-10= request.user.person.surname
    .row
      .control-group
        label.control-label.col-md-2 {% trans "First name" %}
        .col-md-10= request.user.person.first_name
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Nick name" %}
        .col-md-10= request.user.person.nick
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Name as displayed" %}
        .col-md-10
          div= request.user.person.display_name
    .row
      .control-group
        label.control-label.col-md-2 {% trans "Phone number" %}
        .col-md-10= request.user.person.phone
    .row
      .control-group
        label.control-label.col-md-2 {% trans "E-mail address" %}
        .col-md-10= request.user.person.email
    if request.user.person.discord_handle
      .row
        .control-group
          label.control-label.col-md-2 {% trans "Discord handle" %}
          .col-md-10= request.user.person.discord_handle
  .panel-footer.clearfix
    .btn-group.pull-right
      a.btn.btn-default(target='_blank', href='{% url "core_profile_view" %}')
        i.fa.fa-edit.kompassi-icon-space-right
        | {% trans "Update profile..." %}

    .text-muted {% trans "Please check your contact information and update your profile if necessary. By submitting this form you agree that this contact information will be shared with the organizer of the event." %}
