extends core_admin_base
- load i18n
block title
  | {% trans "Enrolled people" %}
block content_full_width
  include core_messages

  .nav.nav-tabs
    include core_admin_menu_items

  .panel.panel-default
    .panel-heading: strong {% trans "Filter enrolled" %}
    .panel-body
      .row
        .col-md-3: strong {% trans "State" %}
        .col-md-9
          - with state_filters as filters
            include core_filter_labels

  .panel.panel-default
    .panel-heading: strong {% trans "Enrolled people" %}
    table.table.table-striped
      thead
        tr
          th {% trans "Surname" %}
          if event.enrollment_event_meta.is_official_name_required
            th {% trans "Official first names" %}
          else
            th {% trans "First name" %}
            th {% trans "Nick" %}
          th {% trans "E-mail address" %}
          th {% trans "Phone number" %}
          for header in meta.get_form_field_headers
            th= header
          th {% trans "State" %}
      tbody
        for enrollment in enrollments
          tr
            td= enrollment.person.surname
            if event.enrollment_event_meta.is_official_name_required
              td= enrollment.person.official_first_names
            else
              td= enrollment.person.first_name
              td= enrollment.person.nick
            td= enrollment.person.email
            td= enrollment.person.normalized_phone_number
            for value in enrollment.get_form_field_values
              td= value
            td: span.label(class="{{ enrollment.state_label_class }}") {{ enrollment.get_state_display }}
    .panel-footer.clearfix
      if num_enrolled
        //- .btn-group.pull-right
        //-   .btn-group
        //-     button.btn.btn-default.dropdown-toggle#enrollment-admin-export-dropdown(type='button',
        //-                                                                             data-toggle='dropdown',
        //-                                                                             data-target='enrollment-admin-export-dropdown-menu'
        //-                                                                             aria-haspopup='true',
        //-                                                                             aria-expanded='true') {% trans "Export" %}
        //-       i.fa.fa-caret-down.kompassi-icon-space-left
        //-     ul.dropdown-menu#enrollment-admin-export-dropdown-menu(aria-labelledby='enrollment-admin-export-dropdown')
        //-       for export_format in export_formats
        //-         li: a(href='{% url "enrollment_admin_export_enrolled_view" event.slug export_format.extension %}?{{ request.META.QUERY_STRING }}')
        //-           i.fa.fa-cloud-download.kompassi-icon-space-right
        //-           |{{ export_format.name }}
        .text-muted {% blocktrans with num_total_enrolled=num_total_enrolled count num_enrolled=num_enrolled %}One enrolled person visible (total {{ num_total_enrolled }}).{% plural %}{{ num_enrolled }} enrolled people visible (total {{ num_total_enrolled }}).{% endblocktrans %}
      else
        .text-muted {% blocktrans with num_total_enrolled=num_total_enrolled %}No enrolled people visible (total {{ num_total_enrolled }}).{% endblocktrans %}
