extends "core_admin_base.pug"
- load i18n
- load crispy_forms_tags
block title
  | {% trans "Privileges" %}
block admin_content
  form(method="POST")
    {% csrf_token %}
    .panel.panel-default
      .panel-heading: strong {% trans "Privileges" %}

      table.table.table-striped
        thead
          tr
            th {% trans "Surname" %}
            th {% trans "First name" %}
            th {% trans "Nick name" %}
            th {% trans "Job title" %}
            for app_name in app_names
              th= app_name
        tbody
          for privileges_form in privileges_forms
            tr
              td= privileges_form.user.person.surname
              td= privileges_form.user.person.first_name
              td= privileges_form.user.person.nick
              td
                i.fa.kompassi-icon-space-right(class="{{ privileges_form.signup.personnel_class.icon_css_class }}"
                                               title="{{ privileges_form.signup.personnel_class }}")
                | {{ privileges_form.signup.some_job_title }}
              for field in privileges_form
                td {{ field }}
      .panel-footer.clearfix
        .btn-group.pull-right
          button.btn.btn-success(type='submit')
            i.fa.fa-floppy-o.kompassi-icon-space-right
            | {% trans "Save and continue" %}
