extends core_admin_base
- load trans from i18n
block title
  {% trans "Onboarding" %}

block admin_content
  .panel.panel-default
    .panel-heading: strong {% trans "Onboarding" %}
    .panel-body
      .form-group
        label(for='onboarding_search') {% trans "Search" %}
        input#onboarding_search.form-control(type='search')
    table.table.table-striped.onboarding__table
      thead
        tr
          th
          th
            span.kompassi-icon-space-right {% trans "Name" %}
            small.kompassi-icon-space-left.text-muted(style='font-weight: normal') Badgessa näkyvät tiedot <strong>lihavoitu</strong>.
          th {% trans "Personnel class" %}
          th {% trans "Job title" %}
          if shirt_type_field
            th {% trans "Shirt type" %}
          if shirt_size_field
            th {% trans "Shirt size" %}
      tbody
        for badge in badges
          tr.a_badge(data-id=badge.id, class='{% if badge.is_arrived %}badge--arrived success{% endif %}')
            td.status.fa-fw
              i.fa.fa-spinner.fa-pulse.status__loading
              i.fa.fa-check.status__success
            td.name
              if badge.is_first_name_visible
                strong {{ badge.first_name }}
              else
                span.text-muted {{ badge.first_name }}
              if badge.is_nick_visible
                | &#32;
                strong ”{{ badge.nick }}”
              if badge.is_surname_visible
                | &#32;
                strong {{ badge.surname }}
              else
                | &#32;
                span.text-muted {{ badge.surname }}

            td.personnel_class= badge.personnel_class
            td.title= badge.job_title
            if shirt_type_field
              if badge.signup_extra
                td.shirt_type= badge.signup_extra.get_shirt_type_display
              else
                td.shirt_type
            if shirt_size_field
              if badge.signup_extra
                td.shirt= badge.signup_extra.get_shirt_size_display
              else
                td.shirt

  //- for badge in badges
  //-   .modal.fade(tabindex="-1", role="dialog")#badge-modal
  //-     .modal-dialog(role="document")
  //-       .modal-content
  //-         .modal-header
  //-           button(type="button", class="close", data-dismiss="modal", aria-label="{% trans 'Close' %}")
  //-             span(aria-hidden="true") &times;
  //-           h4.modal-title Saapuneeksi kirjaaminen
  //-         .modal-body
  //-           {{ badge }}
  //-           .text-center
  //-             if event.badges_event_meta.is_traditional_layout
  //-               h4 {{ badge.job_title }}
  //-               h3 {{ badge.with_privacy.first_name }} {{ badge.with_privacy.surname }}
  //-               h4 {{ badge.with_privacy.nick }}
  //-             else
  //-               h4 {{ badge.job_title }}
  //-               h3 {{ badge.with_privacy.first_name_or_nick }}
  //-               h4 {{ badge.with_privacy.surname_or_full_name }}
  //-         .modal-footer
  //-           button.btn.btn-default(data-dismiss="modal") {% trans 'Close' %}
  //-           button.btn.btn-primary(class='{% if badge.is_arrived %}hidden{% endif %}') Merkitse saapuneeksi
  //-           button.btn.btn-danger(class='{% if not badge.is_arrived %}hidden{% endif %}') Peru saapuneeksi merkintä

block extra_head
  style.
    .a_badge {
      cursor: pointer;
    }
    .status {
      box-sizing: content-box;
    }
    .status .fa {
      display: none;
    }
    .badge--loading .status__loading {
      display: inline;
    }
    .badge--arrived .status__success {
      display: inline;
    }
    .badge--loading .status__success {
      display: none;
    }

block extra_scripts
  script(src='https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js')
  script.
    var $search = $('#onboarding_search')
    var $badges = $('.onboarding__table .a_badge')

    $search.on('input', _.throttle(function (evt) {
      var searchText = evt.target.value
      var matcher = new RegExp(searchText, 'i')

      $badges.each(function () {
        var $this = $(this)
        var name = $this.children('.name').text()
        var match = matcher.test(name)
        $this.toggleClass('hidden', !match)
      })
    }, 100))

    $badges.on('click', _.throttle(function () {
      var $this = $(this)
      if ($this.hasClass('badge--loading')) return
      var id = $this.data('id')
      var arrived = $this.hasClass('badge--arrived')
      var newArrivedState = !arrived
      var data = { id: id, arrived: newArrivedState, csrfmiddlewaretoken: '{{ csrf_token }}' }
      $this.addClass('badge--loading')
      $.post('{% url "badges_admin_onboarding_view" event.slug %}', data)
        .done(function () {
          $this.toggleClass('badge--arrived success', newArrivedState)
        })
        .fail(function (xhr, status, errorText) {
          alert(errorText)
        })
        .always(function () {
          $this.removeClass('badge--loading')
        })
    }, 500, { trailing: false }))
