extends core_profile_base
- load i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Edit programme" %}
block profile_content
  h3 {% trans "Edit programme" %}
  form(method='POST').form-horizontal
    .panel.panel-default
      .panel-heading
        include programme_panel_heading
      .panel-body {% crispy form %}

    if signup_extra_form
      .panel.panel-default
        .panel-heading: strong {% trans "Information about yourself" %}
        .panel-body {% crispy signup_extra_form %}

    .panel.panel-default
      .panel-heading: strong {% trans "Programme hosts" %}
      table.table.table-striped.programme-host-table
        thead
          th {% trans "Surname" %}
          th {% trans "First name" %}
          th {% trans "Nick name" %}
          th {% trans "Role" %}
        tbody
          for programme_role in programme_roles
            tr
              td= programme_role.person.surname
              td= programme_role.person.first_name
              td= programme_role.person.nick
              td= programme_role.role
          for freeform_organizer in freeform_organizers
            tr
              td(colspan="3")= freeform_organizer.text
              td: {% trans "Free-form organizer" %}
      if host_can_invite_more
        .panel-footer
          p.text-muted {% blocktrans count num_invites=programme_role.extra_invites_left %}The programme manager has allowed you to invite one more host to this programme. You may do so now or later by entering their e-mail address in the field above.{% plural %}The programme manager has allowed you to invite up to {{ num_invites }} more hosts to this programme. You may do so now or later by entering their e-mail addresses in the fields above.{% endblocktrans %}
          p.text-danger {% trans "NOTE! Do not include yourself in these invites." %}
      else
        .panel-footer.clearfix
          .text-muted {% trans "Hosts can only be invited by the programme manager. If you have agreed with the programme manager to include people who are not listed here, please contact the programme manager. In order to receive speaker benefits, all hosts of the programme must be listed here." %}

    .panel.panel-default
      .panel-heading: strong {% trans "Save changes" %}
      .panel-body
        if programme.host_can_edit
          .help-block {% blocktrans %}You can edit the details of this programme until it is published in the schedule.{% endblocktrans %}
        else
          .text-danger= programme.host_cannot_edit_explanation
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "programme:profile_view" %}')
            i.fa.fa-undo.kompassi-icon-space-right
            span {% trans "Abandon changes and return" %}
          if programme.host_can_edit
            button.btn.btn-success(type='submit')
              i.fa.fa-check.kompassi-icon-space-right
              span {% trans "Save and return" %}
