extends core_profile_base
block title
  | Sähköpostialiakset
block profile_content
  h3 Sähköpostialiakset
  p Perustuen työskentelyysi tapahtumissa sinulle on luotu yksi tai useampia sähköpostialiaksia. Ne kaikki ohjataan <a href='{% url "core_profile_view" %}'>profiilissasi</a> ilmoittamaasi sähköpostiosoitteeseen <em>{{ person.email }}</em>.
  p Huomaathan, että jos vaihdat sähköpostiosoitettasi tai sinulle luodaan uusia aliaksia, saattaa kestää maksimissaan noin vuorokausi ennen kuin aliakset ohjautuvat oikeaan paikkaan. Samoin lähtevän postin salasanojen käyttöönotossa voi olla viivettä.
  p Mikäli tarvitset sähköpostialiaksiisi muutoksia, ota yhteyttä ylläpitoon: <em>{{ settings.DEFAULT_FROM_EMAIL}}</em>

  for domain, have_smtp_servers, smtp_passwords, aliases in aliases_by_domain
    .panel.panel-default
      .panel-heading
        strong.kompassi-icon-space-right= domain.domain_name
        small.text-muted= domain.organization.name
      if have_smtp_servers
        .panel-body
          if smtp_passwords.exists
            for smtp_password in smtp_passwords.all
              .row
                label.control-label.col-md-3 Lähtevän postin palvelin
                .col-md-9: em= smtp_password.smtp_server.hostname
              .row
                label.control-label.col-md-3 Portti
                .col-md-9= smtp_password.smtp_server.port
              .row
                label.control-label.col-md-3 Salaus
                .col-md-9= smtp_password.smtp_server.get_crypto_display
              .row
                label.control-label.col-md-3 Käyttäjänimi
                .col-md-9: em= person.user.username
              .row
                label.control-label.col-md-3 Salasana
                if newly_created_password
                  .col-md-9
                    p: em= newly_created_password
                    p.text-danger Huomaathan, että salasana näytetään vain tämän yhden kerran. Ota se nyt muistiin. Mikäli hukkaat salasanan, voit luoda uuden salasanan alla olevalla napilla.
                else
                  .col-md-9
                    .label.label-default Asetettu
                    .help-block Salasana on näytetty sinulle, kun se on luotu. Jos olet hukannut salasanan, luo uusi alla olevalla napilla. Uuden salasanan luonti poistaa vanhat salasanat käytöstä.
          else
            p.help-block Mikäli tarvitset lähtevän postin palvelimen tämän verkkotunnuksen sähköpostialiaksia varten, saat käyttäjätunnuksen alla olevalla napilla.
          .row
            label.col-md-3.control-label Ohjeet
            .col-md-9
              a(href='https://support.google.com/mail/answer/22370?hl=en', target='_blank') Ohjeet lähettäjän sähköpostiosoitteen asettamiseksi GMailiin
      table.table.table-striped
        thead
          tr
            th Osoite
            th Luotu
        tbody
          for alias in aliases
            tr
              td: em= alias.email_address
              td {{ alias.created_at|date:"SHORT_DATETIME_FORMAT" }}
      if have_smtp_servers
        .panel-footer.clearfix
          form(method='POST')
            {% csrf_token %}
            .btn-group.pull-right
              button.btn.btn-primary(type='submit', name='create_new_password_for_domain', value='#{domain.domain_name}')
                i.fa.fa-undo.kompassi-icon-space-right
                |Luo uusi lähtevän postin salasana
