- load crispy from crispy_forms_tags
- load trans from i18n
.tab-pane#programme-admin-programme-hosts-tab
  .panel.panel-default
    .panel-heading: strong {% trans "Programme hosts" %}
    table.table.table-striped
      thead
        th {% trans "Surname" %}
        th {% trans "First name" %}
        th {% trans "Nick name" %}
        th {% trans "Phone number" %}
        th {% trans "E-mail address" %}
        th {% trans "Discord handle" %}
        th {% trans "Role" %}
      tbody
        for programme_role in programme_roles
          tr
            td= programme_role.person.surname
            td= programme_role.person.first_name
            td= programme_role.person.nick
            td= programme_role.person.normalized_phone_number
            td= programme_role.person.email
            td= programme_role.person.discord_handle
            td {{programme_role.role}}
        for freeform_organizer in freeform_organizers
          tr
            td(colspan="5")= freeform_organizer.text
            td: {% trans "Free-form organizer" %}
            td
    .panel-footer.clearfix
      .btn-group.pull-right
        button.btn.btn-default(type='button', disabled="true")
          i.fa.fa-plus.kompassi-icon-space-right
          {% trans "Add free-form organizer" %}
        button.btn.btn-success(type='button', disabled="true")
          i.fa.fa-plus.kompassi-icon-space-right
          {% trans "Invite host" %}
      .text-muted
        {% trans "Hosts shown in <i>italic</i> have not yet accepted their invitations." %}
