extends programme_admin_base.pug
- load i18n
block title
  {% trans "Seat reservations" %}
block admin_content
  style.
    .kompassi-numeric-column {
      width: 15%;
      text-align: right;
    }

  .panel.panel-default
    .panel-heading: strong {% trans "Reservation summary" %}
    table.table.table-striped
      thead
        tr
          th(scope='column') {% trans "Programme" %}
          th.kompassi-numeric-column(scope='column') {% trans "Reserved" %}
          th.kompassi-numeric-column(scope='column') {% trans "Remaining" %}
          th.kompassi-numeric-column(scope='column') {% trans "Total" %}
      tbody
        for programme, zones, total_reservation_status in programmes_with_reservation_status
          tr
            td(scope='row')
              a(href='{% url "programme:admin_detail_view" event.slug programme.id %}')= programme.title
              if programme.paikkala_program.is_reservable
                .label.label-primary
                  a(href='{% url "programme:paikkala_reservation_view" programme.event.slug programme.id %}') {% trans "Reservable" %}
            td.kompassi-numeric-column= total_reservation_status.total_reserved
            td.kompassi-numeric-column= total_reservation_status.total_remaining
            td.kompassi-numeric-column= total_reservation_status.total_capacity

  for programme, zones, total_reservation_status in programmes_with_reservation_status
    .panel.panel-default
      .panel-heading: strong= programme.title
      table.table.table-striped
        thead
          tr
            th(scope='column') {% trans "Zone" %}
            th.kompassi-numeric-column(scope='column') {% trans "Reserved" %}
            th.kompassi-numeric-column(scope='column') {% trans "Remaining" %}
            th.kompassi-numeric-column(scope='column') {% trans "Total" %}
        tbody
          for zone, zone_reservation_status in zones
            tr
              td(scope='row')= zone.name
              td.kompassi-numeric-column= zone_reservation_status.total_reserved
              td.kompassi-numeric-column= zone_reservation_status.total_remaining
              td.kompassi-numeric-column= zone_reservation_status.total_capacity

        tfooter
          tr
            th(scope='row') {% trans "Total" %}
            th.kompassi-numeric-column(scope='column')= total_reservation_status.total_reserved
            th.kompassi-numeric-column(scope='column')= total_reservation_status.total_remaining
            th.kompassi-numeric-column(scope='column')= total_reservation_status.total_capacity
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href="{% url 'programme:admin_reservations_export_view' event.slug programme.id %}")
            i.fa.fa-cloud-download.kompassi-icon-space-right
            | {% trans "Export" %}
