- load i18n
table.table.table-striped.programme-host-table
  thead
    th {% trans "Surname" %}
    th {% trans "First name" %}
    th {% trans "Nick name" %}
    th {% trans "Role" %}
  tbody
    for programme_role in programme_roles
      tr
        td= programme_role.person.surname
        td= programme_role.person.first_name
        td= programme_role.person.nick
        td= programme_role.role
    for freeform_organizer in freeform_organizers
      tr
        td(colspan="3")= freeform_organizer.text
        td: {% trans "Free-form organizer" %}
