extends core_admin_base
- load trans from i18n
block title
  | Badget
block admin_content
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading: strong Badgetulostuksen tilanne
        .panel-body
          .progress
            for pb_item in event.badges_event_meta.get_progress
              .progress-bar(class='{{ pb_item.css_class }}'
                            aria-valuenow='{{ pb_item.value }}'
                            aria-valuemin='0'
                            aria-valuemax='{{ pb_item.max }}'
                            role='progressbar'
                            style='width: {{ pb_item.width }}%'
                            data-content='{{ pb_item.text }}') {{ pb_item.value }}

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading: strong Badgetyypin mukaan
        table.table.table-striped
          thead
            th Henkilöstöluokka
            th Odottaa erää
            th Odottaa erässä
            th Mitätöity
            th Tulostettu
            th Yhteensä
            th
          tbody
            for personnel_class in personnel_classes
              tr
                td: a(href='{% url "badges_admin_filtered_view" event.slug personnel_class.slug %}') {{ personnel_class.name }}
                td {{ personnel_class.count_badges_awaiting_batch }}
                td {{ personnel_class.count_badges_waiting_in_batch }}
                td {{ personnel_class.count_revoked_badges }}
                td {{ personnel_class.count_printed_badges }}
                td {{ personnel_class.count_badges }}
                td
                  a.btn.btn-xs.btn-success(href='{% url "badges_admin_create_with_template_view" event.slug personnel_class.slug %}', title='Lisää uusi käsin')
                    i.fa.fa-plus
            tr
              th Yhteensä
              th {{ meta.count_badges_awaiting_batch }}
              th {{ meta.count_badges_waiting_in_batch }}
              th {{ meta.count_revoked_badges }}
              th {{ meta.count_printed_badges }}
              th {{ meta.count_badges }}
              th
        .panel-footer.clearfix
          .btn-group.pull-right
            a.btn.btn-default(href='{% url "badges_admin_import_view" event.slug %}')
              i.fa.fa-plus.kompassi-icon-space-right
              {% trans "Import badges" %}
            a.btn.btn-success(href='{% url "badges_admin_create_view" event.slug %}')
              i.fa.fa-plus.kompassi-icon-space-right
              {% trans "Manually add a badge" %}

block extra_scripts
  style
    .progress-bar-grey { background-color: #999 }
  script.
    $('.progress-bar').popover({trigger: 'hover', placement: 'bottom'});
