- load crispy from crispy_forms_tags
.tab-pane.active(role='tabpanel')#labour-admin-signup-state-tab
  .panel.panel-default
    .panel-heading: strong Hakemuksen tila
    table.table.table-striped
      thead
        th Päivämäärä ja kellonaika
        th Tapahtuma
      tbody
        for state_text, state_timestamp in signup.state_times
          tr
            td {{ state_timestamp }}
            td {{ state_text }}
    .panel-footer.clearfix
      .btn-group.pull-right
        for button in signup.next_states_buttons
          if button.is_disabled
            input.btn(class='{{ button.css_class }}'
                      value='{{ button.text }}',
                      title='{{ button.disabled_reason }}',
                      disabled)
          else
            input.btn(class='{{ button.css_class }}',
                      type='submit',
                      name='set-state-{{ button.to_state }}',
                      value='{{ button.text }}')

  .panel.panel-default
    .panel-heading: strong Työvoima&shy;vastaavan merkinnät
    .panel-body.labour-admin-form
      - crispy signup_admin_form
    .panel-footer.clearfix
      include labour_admin_signup_views/actions
