extends base.jade
- load trans from i18n
block title
  {% trans "Volunteer worker onboarding" %}

block content
    .row
        .col-xs-12
            h1 {% trans "Volunteer worker onboarding" %}
    .row
        .col-xs-12
            .form-group
                label(for='onboarding_search') Hae työvoimaa
                input#onboarding_search.form-control(type='search')
    table.table.table-striped.onboarding__table
        thead
            tr
                th
                th {% trans "Name" %}
                th {% trans "Job title" %}
                if event.labour_event_meta.signup_extra_model.get_shirt_type_field
                    th {% trans "Shirt type" %}
                if event.labour_event_meta.signup_extra_model.get_shirt_size_field
                    th {% trans "Shirt size" %}
        tbody
            each signup in signups
                tr.signup(data-id=signup.id, class='{% if signup.is_arrived %}signup--arrived success{% endif %}')
                    td.loading
                        i.fa.fa-spinner.fa-spin
                    td.name= signup.full_name
                    td.title= signup.job_title
                    if event.labour_event_meta.signup_extra_model.get_shirt_type_field
                        td.shirt_type= signup.signup_extra.get_shirt_type_display
                    if event.labour_event_meta.signup_extra_model.get_shirt_size_field
                        td.shirt= signup.signup_extra.get_shirt_size_display

block extra_head
    style.
        .signup {
            cursor: pointer;
        }
        .signup .loading {
            width: 1.5em;
        }
        .signup .loading .fa {
            visibility: hidden;
        }
        .signup--loading .loading .fa {
            visibility: visible;
        }

block extra_scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
    script.
        var $search = $('#onboarding_search')
        var $signups = $('.onboarding__table .signup')

        $search.on('input', _.throttle(function (evt) {
            var searchText = evt.target.value
            var matcher = new RegExp(searchText, 'i')

            $signups.each(function () {
                var $this = $(this)
                var name = $this.children('.name').text()
                var match = matcher.test(name)
                $this.toggleClass('hidden', !match)
            })
        }, 100))

        $signups.on('click', function () {
            var $this = $(this)
            if ($this.hasClass('signup--loading')) return
            var id = $this.data('id')
            var arrived = $this.hasClass('signup--arrived')
            var newArrivedState = !arrived
            var data = { id: id, arrived: newArrivedState, csrfmiddlewaretoken: '{{ csrf_token }}' }
            $this.addClass('signup--loading')
            $.post('{% url "labour_onboarding_view" event.slug %}', data)
                .done(function () {
                    $this.toggleClass('signup--arrived success', newArrivedState)
                })
                .fail(function (xhr, status, errorText) {
                    alert(errorText)
                })
                .always(function () {
                    $this.removeClass('signup--loading')
                })
        })
