extends core_admin_base.jade
- load i18n
block title
  | {% trans "Shirt list" %}
block admin_content
  .panel.panel-default
    .panel-heading: strong {% trans "Shirt size summary" %}
    table.table.table-striped
      thead
        tr
          th {% trans "Shirt type" %}
          th {% trans "Shirt size" %}
          th {% trans "Count" %}
      tbody
        for shirt_size in shirt_sizes
          tr
            td= shirt_size.type
            td= shirt_size
            td= shirt_size.count
    .panel-footer
      {% blocktrans count num_shirts=shirt_sizes_total %}One shirt.{% plural %}{{ num_shirts }} shirts.{% endblocktrans %}

  .panel.panel-default
    .panel-heading: strong {% trans "Shirt orders" %}
    table.table.table-striped
      thead
        tr
          th {% trans "Surname" %}
          th {% trans "First name" %}
          th {% trans "Shirt type" %}
          th {% trans "Shirt size" %}
          th {% trans "Count" %}
      tbody
        for shirt_order in shirt_orders
          tr
            td= shirt_order.order.customer.last_name
            td= shirt_order.order.customer.first_name
            td= shirt_order.size.type
            td= shirt_order.size
            td= shirt_order.count
    .panel-footer.clearfix
      .btn-group.pull-right
        button.btn.btn-default.dropdown-toggle#tickets-admin-export-dropdown(type='button',
                                                                                data-toggle='dropdown',
                                                                                data-target='tickets-admin-export-dropdown-menu'
                                                                                aria-haspopup='true',
                                                                                aria-expanded='true') Vie
          i.fa.fa-caret-down.kompassi-icon-space-left
        ul.dropdown-menu#tickets-admin-export-dropdown-menu(aria-labelledby='tickets-admin-export-dropdown')
          for export_format in export_formats
            li: a(href='{% url "tickets_admin_shirts_export_view" event.slug export_format.extension %}?{{ request.META.QUERY_STRING }}')
              i.fa.fa-cloud-download.kompassi-icon-space-right
              |{{ export_format.name }}
      p.text-muted {% blocktrans count num_shirts=shirt_orders_total %}One shirt.{% plural %}{{ num_shirts }} shirts.{% endblocktrans %}
