extends core_admin_base.pug
block title
  |{{ organization.name }}: Jäsenrekisteri
block admin_content
  .panel.panel-default
    .panel-heading
      strong
        a(role='button', data-toggle='collapse', data-target='#kompassi-membership-filters') Suodata jäseniä
    .panel-body.signup-filters.collapse#kompassi-membership-filters(class='{{ css_to_show_filter_panel }}')
      .row
        .col-md-3: strong Jäsenyyden tila
        .col-md-9
          for state, active in state_filters
            if active
              span.label.label-brand.kompassi-space-after
                a(href='?{{ state.qs_del }}') {{ state.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?{{ state.qs_add }}') {{ state.name }}
      if payment_filters
        .row
          .col-md-3: strong Jäsenmaksu ({{ current_term }})
          .col-md-9
            for state, active in payment_filters
              if active
                span.label.label-brand.kompassi-space-after
                  a(href='?{{ state.qs_del }}') {{ state.name }}
              else
                span.label.label-default.kompassi-space-after
                  a(href='?{{ state.qs_add }}') {{ state.name }}

  .panel.panel-default
    .panel-heading
      if filter_active
        strong Suodatuksen tulos
      else
        strong Jäsenrekisteri
    table.table.table-striped
      thead
        tr
          th Sukunimi
          th Etunimet
          th Kotikunta
          th Jäsenyyden tila
          if current_term.membership_fee_cents
            th Jäsenmaksu ({{ current_term }})
      tbody
        for membership in memberships
          tr
            td
              a(href='{% url "membership_admin_member_view" organization.slug membership.person.id %}')= membership.person.surname

            if membership.person.official_first_names
              td
                a(href='{% url "membership_admin_member_view" organization.slug membership.person.id %}')= membership.person.official_first_names
            else
              td.danger
                a(href='{% url "membership_admin_member_view" organization.slug membership.person.id %}')= membership.person.first_name

            if membership.person.muncipality
              td
                a(href='{% url "membership_admin_member_view" organization.slug membership.person.id %}')= membership.person.muncipality
            else
              td.danger

            td
              .label(class='{{ membership.state_css }}')= membership.get_state_display

            if current_term.membership_fee_cents
              if membership.get_payment_for_term.is_paid
                td: .label.label-success Maksettu
              else
                td: .label.label-danger Maksamatta

    .panel-footer.clearfix
      form(method='POST')
        {% csrf_token %}
        .btn-group.pull-right
          if show_approve_all_button
            button.btn.btn-success(type='submit')
              i.fa.fa-check.kompassi-icon-space-right
              |Hyväksy kaikki hyväksyntää odottavat
          button.btn.btn-default.dropdown-toggle#membership-admin-export-dropdown(type='button',
                                                                                data-toggle='dropdown',
                                                                                aria-haspopup='true',
                                                                                aria-expanded='true') Vie... <span class='caret'></span>
          ul.dropdown-menu(aria-labelledby='membership-admin-export-dropdown')
            for format, text in export_formats
              li: a(href='{% url "membership_admin_export_view" organization.slug format %}?{{ request.META.QUERY_STRING }}')= text

      p.text-muted {{ num_members }} henkilö{{ num_members|pluralize:"ä" }} (yhteensä {{ num_all_members }}).
