extends base.pug
- load crispy_forms_tags
- load i18n
block title
  | {% trans "Enroll" %}
block content
  h2
    if already_enrolled
      | {{ event.name }}: Muokkaa ilmoittautumistasi
    else
      | {{ event.name }}: {% trans "Enroll" %}

  {{ event.enrollment_event_meta.enrollment_form_message|safe|linebreaks }}

  .panel.panel-default
    .panel-heading: strong {% trans "Contact information" %}
    .panel-body
      .row
        .control-group
          label.control-label.col-md-2 {% trans "Surname" %}
          .col-md-10= request.user.person.surname
      if event.enrollment_event_meta.is_official_name_required
        .row
          .control-group
            label.control-label.col-md-2 {% trans "Official first names" %}
            .col-md-10
              if request.user.person.official_first_names
                |{{ request.user.person.official_first_names }}
              else
                .label.label-danger Viralliset etunimet puuttuvat
      else
        .row
          .control-group
            label.control-label.col-md-2 {% trans "First name" %}
            .col-md-10= request.user.person.first_name
        .row
          .control-group
            label.control-label.col-md-2 {% trans "Nick name" %}
            .col-md-10= request.user.person.nick
        .row
          .control-group
            label.control-label.col-md-2 {% trans "Name as displayed" %}
            .col-md-10
              div= request.user.person.display_name
              .help-block {% trans "If your name is publicly displayed, this is how your name will be published. You can change the name display style in your profile." %}
      .row
        .control-group
          label.control-label.col-md-2 {% trans "Phone number" %}
          .col-md-10= request.user.person.phone
      .row
        .control-group
          label.control-label.col-md-2 {% trans "E-mail address" %}
          .col-md-10= request.user.person.email
    .panel-footer.clearfix
      .btn-group.pull-right
        a.btn.btn-default(target='_blank', href='{% url "core_profile_view" %}')
          i.fa.fa-edit.kompassi-icon-space-right
          | {% trans "Update profile..." %}

      if can_enroll
        p.text-muted {% trans "Please check your contact information and update your profile if necessary. By submitting this form you agree to these contact details being shared with the event organizer." %}
      else
        p.text-danger Ole hyvä ja täydennä profiiliisi puuttuvat tiedot, ja lataa tämä sivu sen jälkeen uudelleen.

  form(method='POST', role='form').form-horizontal
    //- Capture Enter presses
    if can_enroll
      button.hidden(type='submit', name='action', value='save-return')

    .panel.panel-default
      .panel-heading
        if already_enrolled
          .pull-right
            span.label(class="{{ enrollment.state_label_class }}") {{ enrollment.get_state_display }}
        strong {% trans "Enrollment" %}
      .panel-body
        - crispy form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "core_event_view" event.slug %}')
            i.fa.fa-undo.kompassi-icon-space-right
            | Palaa tapahtumasivulle
          if already_enrolled
            button.btn.btn-danger(type='submit', name='action', value='cancel-enrollment')
              i.fa.fa-trash.kompassi-icon-space-right
              | Peru ilmoittautuminen

          if can_enroll
            button.btn.btn-success(type='submit', name='action', value='save-return')
              i.fa.fa-check.kompassi-icon-space-right
              if already_enrolled
                | Tallenna muutokset
              else
                | {% trans "Enroll" %}

        if not can_enroll
          p.text-danger Ennen kuin voit ilmoittautua tähän tapahtumaan, sinun täytyy päivittää täydentää profiilistasi puuttuvat tiedot.
