extends core_admin_base
- load i18n
block title
  | {% trans "Enrolled people" %}
block admin_content
  //-   .panel.panel-default
  //-     .panel-heading: strong {% trans "Filter enrolled" %}
  //-     .panel-body.signup-filters
  //-       .row
  //-         .col-md-3: strong {% trans "Active" %}
  //-         .col-md-9
  //-           for it, active in active_filters
  //-             if active
  //-               span.label.label-brand.kompassi-space-after
  //-                 a(href='?{{ it.qs_del }}') {{ it.name }}
  //-             else
  //-               span.label.label-default.kompassi-space-after
  //-                 a(href='?{{ it.qs_add }}') {{ it.name }}
  //-       .row
  //-         .col-md-3: strong {% trans "Personnel class" %}
  //-         .col-md-9
  //-           for it, active in personnel_class_filters
  //-             if active
  //-               span.label.label-brand.kompassi-space-after
  //-                 a(href='?{{ it.qs_del }}') {{ it.name }}
  //-             else
  //-               span.label.label-default.kompassi-space-after
  //-                 a(href='?{{ it.qs_add }}') {{ it.name }}
  //- hr
  //- .row
  //-   .col-md-3: strong Luettelojärjestys
  //-   .col-md-9
  //-     for so, active in sorter
  //-       if active
  //-         span.label.label-brand.kompassi-space-after
  //-           a(href='?{{ so.qs_add }}') {{ so.name }}
  //-       else
  //-         span.label.label-default.kompassi-space-after
  //-           a(href='?{{ so.qs_add }}') {{ so.name }}

  .panel.panel-default
    .panel-heading: strong {% trans "Enrolled people" %}
    table.table.table-striped
      thead
        tr
          th {% trans "Surname" %}
          th {% trans "First name" %}
          th {% trans "Nick" %}
          th {% trans "E-mail address" %}
          th {% trans "Phone number" %}
      tbody
        for enrollment in enrollments
          tr
            td= enrollment.person.surname
            td= enrollment.person.first_name
            td= enrollment.person.nick
            td= enrollment.person.email
            td= enrollment.person.phone
    .panel-footer.clearfix
      if num_enrolled
        //- .btn-group.pull-right
        //-   .btn-group
        //-     button.btn.btn-default.dropdown-toggle#enrollment-admin-export-dropdown(type='button',
        //-                                                                             data-toggle='dropdown',
        //-                                                                             data-target='enrollment-admin-export-dropdown-menu'
        //-                                                                             aria-haspopup='true',
        //-                                                                             aria-expanded='true') {% trans "Export" %}
        //-       i.fa.fa-caret-down.kompassi-icon-space-left
        //-     ul.dropdown-menu#enrollment-admin-export-dropdown-menu(aria-labelledby='enrollment-admin-export-dropdown')
        //-       for export_format in export_formats
        //-         li: a(href='{% url "enrollment_admin_export_enrolled_view" event.slug export_format.extension %}?{{ request.META.QUERY_STRING }}')
        //-           i.fa.fa-cloud-download.kompassi-icon-space-right
        //-           |{{ export_format.name }}
        .text-muted {% blocktrans with num_total_enrolled=num_total_enrolled count num_enrolled=num_enrolled %}One enrolled person visible (total {{ num_total_enrolled }}).{% plural %}{{ num_enrolled }} enrolled people visible (total {{ num_total_enrolled }}).{% endblocktrans %}
      else
        .text-muted {% blocktrans with num_total_enrolled=num_total_enrolled %}No enrolled people visible (total {{ num_total_enrolled }}).{% endblocktrans %}
